<mat-card class="my-word-card-layout">
  <mat-card-header>
    <mat-card-title class="card-word" *ngIf="word.word">
      {{word.word}}
    </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <mat-card-subtitle class="card-pronunciation" *ngIf="word.pronunciation">
      Pronunciation:  {{word.pronunciation}}
    </mat-card-subtitle>

    <div class="card-type" *ngIf="word.type">
      <i>{{word.type}}</i>
    </div>

    <div class="card-definition" *ngIf="word.definition">
      <p>{{word.definition}}</p>
    </div>

    <div class="card-example" *ngIf="word.example">
      <p>"{{word.example}}"</p>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button mat-raised-button (click)="editWord($event)">
      <i class="material-icons">edit</i>
    </button>

    <button mat-raised-button (click)="deleteWord($event, word.id)">
      <i class="material-icons">delete</i>
    </button>
  </mat-card-actions>
</mat-card>
