.header {
  .header-layout {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

    @media screen and (max-width: 500px) {
      flex-direction: column;
    }

    .header-buttons {
      @media screen and (max-width: 991px) {
        display: none;
      }

      a,
      button {
        margin: 20px;
      }
    }

    .mobile-header-buttons {
      @media screen and (min-width: 991px) {
        display: none;
      }
    }
  }
}

.mat-menu-item {
  text-align: center;
}
