.header {
  .header-layout {
    display: flex;
    justify-content: space-between;

    .header-buttons {
      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
      }
    }

    a,
    button,
    .mat-slide-toggle {
      margin: 15px;
    }
  }
}

.mat-menu-item {
  text-align: center;
}
