<div class="translator-layout">
  <div class="container">
    <form [formGroup]="translateForm"
          (submit)="searchWord($event)"
          class="translator-form">

      <h1 class="translator-title title-accent">Word of the day</h1>

      <mat-form-field>
        <input class="word" id="word" matInput placeholder="Type the word" formControlName="word">
        <button mat-raised-button
                matSuffix
                class="submit button-primary"
                type="submit"
                [disabled]="translateForm.invalid">Search</button>
      </mat-form-field>

      <p class="server-error" *ngIf="errorMessages">{{errorMessages}}</p>
    </form>
  </div>

  <div class="translator-result bg-primary">
    <div class="container">
      <div class="translator-result-layout">
        <mat-card class="layout-item item-card">
          <mat-card-header>
            <div class="card-img" *ngIf="wordResult?.image">
              <img src="{{wordResult?.image}}" alt="{{wordResult?.word}}">
            </div>

            <mat-card-title class="card-word" *ngIf="wordResult?.word">
              {{wordResult?.word}}
            </mat-card-title>
          </mat-card-header>

          <mat-card-content>
            <mat-card-subtitle class="card-pronunciation" *ngIf="wordResult?.pronunciation">
              Pronunciation: {{wordResult?.pronunciation}}
            </mat-card-subtitle>

            <div class="card-type" *ngIf="wordResult?.type">
              <i>{{wordResult?.type}}</i>
            </div>

            <div class="card-definition" *ngIf="wordResult?.definition">
              <p>{{wordResult?.definition}}</p>
            </div>

            <div class="card-example" *ngIf="wordResult?.example">
              <p>"{{wordResult?.example}}"</p>
            </div>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
