@import "~@angular/material/theming";
@include mat-core();

$mat-light-primary: mat-palette($mat-blue-gray, 700, 300, 900);
$mat-light-accent: mat-palette($mat-blue-gray, A200, A100, A400);
$mat-light-warn: mat-palette($mat-blue-gray, A200);
$light-theme: mat-light-theme($mat-light-primary, $mat-light-accent, $mat-light-warn);
@include angular-material-theme ($light-theme);
